/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for ancestry PCA module process options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: 'ANCESTRY_PCA_FILTER_VARIANTS' {
        ext.when   = { params.run_ancestry }
        cpus       = { params.pca_cpu    ?: 2 }
        memory     = { params.pca_memory ?: '4.GB' }
        container  = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        conda      = 'bioconda::bcftools=1.20'
        publishDir = [
            mode:    params.publish_dir_mode,
            path:    { "${params.outdir}/ancestry_pca/" },
            pattern: "filter_variants.log"
        ]
    }

    withName: 'ANCESTRY_PCA_CONVERT_VCF_TO_PLINK' {
        ext.when   = { params.run_ancestry }
        cpus       = { params.pca_cpu    ?: 4 }
        memory     = { params.pca_memory ?: '8.GB' }
        container  = 'quay.io/biocontainers/plink2:2.00a5.12--h4ac6f70_0'
        conda      = 'bioconda::plink2=2.00a5.12'
        publishDir = [
            mode:    params.publish_dir_mode,
            path:    { "${params.outdir}/ancestry_pca/" },
            pattern: "convert_vcf_to_plink.log"
        ]
    }

    withName: 'ANCESTRY_PCA_LD_PRUNE_VARIANTS' {
        ext.when   = { params.run_ancestry }
        cpus       = { params.pca_cpu    ?: 4 }
        memory     = { params.pca_memory ?: '8.GB' }
        container  = 'quay.io/biocontainers/plink2:2.00a5.12--h4ac6f70_0'
        conda      = 'bioconda::plink2=2.00a5.12'
        publishDir = [
            mode:    params.publish_dir_mode,
            path:    { "${params.outdir}/ancestry_pca/" },
            pattern: "ld_prune_variants.log"
        ]
    }

    withName: 'ANCESTRY_PCA_COMPUTE_PCA' {
        ext.when   = { params.run_ancestry }
        cpus       = { params.pca_cpu    ?: 4 }
        memory     = { params.pca_memory ?: '8.GB' }
        container  = 'quay.io/biocontainers/plink2:2.00a5.12--h4ac6f70_0'
        conda      = 'bioconda::plink2=2.00a5.12'
        publishDir = [
            mode:    params.publish_dir_mode,
            path:    { "${params.outdir}/ancestry_pca/" },
            pattern: "*.{eigenvec,eigenval,log}"
        ]
    }

    withName: 'ANCESTRY_PCA_FORMAT_OUTPUT' {
        ext.when   = { params.run_ancestry }
        cpus       = 1
        memory     = '1.GB'
        container  = 'quay.io/biocontainers/ubuntu:20.04'
        publishDir = [
            mode:    params.publish_dir_mode,
            path:    { "${params.outdir}/ancestry_pca/" },
            pattern: "pca*.{tsv,log}"
        ]
    }

}
